.darkMode{
    background-color:#0B0A3A;
    color: white;

    .btn-mode {
        color: white;
    }
    .btn-select{
        color: white;
    }

    .card{
        border: solid 2px white;
        box-shadow: 5px 5px 5px rgba(#ffff, 20%);

    }
}