@import './App.css';
@import './mixins';

.personajes{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.card{
    border: solid 2px black;
    margin-bottom: 2rem;
    border-radius: 1rem;
    box-shadow: 5px 5px 5px var(--blackLight);
    max-width: max-content;
    img{
        border-radius: 1rem 1rem 0 0;
    }

    div{
        padding: 1rem;
        text-align: center;

        p{
            font-size: 1.5rem;
        }
    }
}

.favorites{
    margin: 4rem auto;
    font-size: 1.5rem;
}

.live{
    color: var(--principalColor);
}

.dead{
    color: rgba(red, 50%);
}

.unknow{
    color: gray;
}

@include Tablet{
    .personajes{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }

    .card{
        margin: 0 auto;
    }

}

@include Desktop{
    .personajes{
        grid-template-columns: repeat(3, 1fr);
    }
}
@include MaxWidth{
    .personajes{
        grid-template-columns: repeat(4, 1fr);
    }
}